<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <VFEDeserters>VFE -逃兵</VFEDeserters>
  <VFED.VisibilityChangePerDay>每天可见度变化：{0}</VFED.VisibilityChangePerDay>
  <VFED.IntelFromExtractingIntel>Intel 提取英特尔：{0}</VFED.IntelFromExtractingIntel>
  <VFED.VisibilityFromPillar>监视支柱的可见度增益：{0}</VFED.VisibilityFromPillar>
  <VFED.ResponseTimeMultiplier>响应时间乘数：{0}</VFED.ResponseTimeMultiplier>

</LanguageData>