<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
  
  <!-- EN: Springbok -->
  <VVE_Springbok_Blueprint.label>羚羊轿车</VVE_Springbok_Blueprint.label>
  <!-- EN: A general all-rounder vehicle, the Springbok performs well in all categories with a good cargo and passenger capacity. The old, robust build and loud engine negatively affect its fuel efficiency and visibility. Best suited on flat roads and will struggle somewhat on hills, snow or winter tiles.\n\nA slightly worse performer compared to tier 2 vehicles, it is instead a stylish vehicle to drive and will provide a mood boost to all passengers. -->
  <VVE_Springbok_Blueprint.description>泛用型轿车，各方面性能都不错，可以搭载一定量的货物和人员。老派的设计和超功率的引擎使它的燃料效率不佳，也很容易被发现。适合在道路上行驶，不建议前往山地和雪地。\n\n它的性能可能不及一些T2载具，但它外形美观奢华，内设舒适，会给司机和乘客带来好心情。\n\n&lt;color=#bb8f04&gt;乘员：&lt;/color&gt;驾驶员 x1，乘客 x3\n&lt;color=#bb8f04&gt;动力：&lt;/color&gt;化合燃料</VVE_Springbok_Blueprint.description>
  
</LanguageData>