<?xml version='1.0' encoding='UTF-8'?>
<LanguageData>
  <!--EN: Allow non-biocodable weapon-->
  <VREH_Label_allowNonBiocodableWeapon>Allow non-biocodable weapon</VREH_Label_allowNonBiocodableWeapon>
  <!--EN: Aptitudes are only for vanilla weapons-->
  <VREH_Label_onlyVanillaWeapon>Aptitudes are only for vanilla weapons</VREH_Label_onlyVanillaWeapon>
  <!--EN: If disabled, genes will not be generated for non-biocodable weapons.

A restart is required.-->
  <VREH_ToolTip_allowNonBiocodableWeapon>If disabled, genes will not be generated for non-biocodable weapons.

A restart is required.</VREH_ToolTip_allowNonBiocodableWeapon>
  <!--EN: If enabled, weapon aptitudes genes will not be generated for mods.

A restart is required.-->
  <VREH_ToolTip_onlyVanillaWeapon>If enabled, weapon aptitudes genes will not be generated for mods.

A restart is required.</VREH_ToolTip_onlyVanillaWeapon>
  <!--EN: VRE - Hussar-->
  <VRE_HussarsSettings>VRE - Hussar</VRE_HussarsSettings>
</LanguageData>
