<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>

    <!-- EN: Vanilla Textures Expanded -->
  <VanillaTexturesExpanded.SettingsCategory>原版材质扩展</VanillaTexturesExpanded.SettingsCategory>

    <!-- EN: Menu button render mode -->
  <VanillaTexturesExpanded.MainButtonRenderMode>UI风格</VanillaTexturesExpanded.MainButtonRenderMode>
    <!-- EN: Icons and text (new) -->
  <VanillaTexturesExpanded.MainButtonRenderMode_IconsAndText>图标和文本（Mod）</VanillaTexturesExpanded.MainButtonRenderMode_IconsAndText>
    <!-- EN: Icons where possible (vanilla) -->
  <VanillaTexturesExpanded.MainButtonRenderMode_IconsThenText>原版</VanillaTexturesExpanded.MainButtonRenderMode_IconsThenText>
    <!-- EN: Text only (classic) -->
  <VanillaTexturesExpanded.MainButtonRenderMode_TextOnly>文本（早期版本）</VanillaTexturesExpanded.MainButtonRenderMode_TextOnly>

</LanguageData>