<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
  
  <!-- EN: Springbok -->
  <VVE_Springbok.label>羚羊轿车</VVE_Springbok.label>
  <!-- EN: A general all-rounder vehicle, the Springbok performs well in all categories with a good cargo and passenger capacity. The old, robust build and loud engine negatively affect its fuel efficiency and visibility. Best suited on flat roads and will struggle somewhat on hills, snow or winter tiles.\n\nA slightly worse performer compared to tier 2 vehicles, it is instead a stylish vehicle to drive and will provide a mood boost to all passengers. -->
  <VVE_Springbok.description>泛用型轿车，各方面性能都不错，可以搭载一定量的货物和人员。老派的设计和超功率的引擎使它的燃料效率不佳，也很容易被发现。适合在道路上行驶，不建议前往山地和雪地。\n\n它的性能可能不及一些T2载具，但它外形美观奢华，内设舒适，会给司机和乘客带来好心情。\n\n&lt;color=#bb8f04&gt;乘员：&lt;/color&gt;驾驶员 x1，乘客 x3\n&lt;color=#bb8f04&gt;动力：&lt;/color&gt;化合燃料</VVE_Springbok.description>
  <VVE_Springbok.components.0.label>引擎</VVE_Springbok.components.0.label>
  <!-- EN: Front Left Wheel -->
  <VVE_Springbok.components.1.label>左前轮</VVE_Springbok.components.1.label>
  <!-- EN: Front Right Wheel -->
  <VVE_Springbok.components.2.label>右前轮</VVE_Springbok.components.2.label>
  <!-- EN: Back Left Wheel -->
  <VVE_Springbok.components.3.label>左后轮</VVE_Springbok.components.3.label>
  <!-- EN: Back Right Wheel -->
  <VVE_Springbok.components.4.label>右后轮</VVE_Springbok.components.4.label>
  <!-- EN: Front Left Suspension -->
  <VVE_Springbok.components.5.label>左前悬挂</VVE_Springbok.components.5.label>
  <!-- EN: Front Right Suspension -->
  <VVE_Springbok.components.6.label>右前悬挂</VVE_Springbok.components.6.label>
  <!-- EN: Back Left Suspension -->
  <VVE_Springbok.components.7.label>左后悬挂</VVE_Springbok.components.7.label>
  <!-- EN: Back Right Suspension -->
  <VVE_Springbok.components.8.label>右后悬挂</VVE_Springbok.components.8.label>
  <VVE_Springbok.components.9.label>变速箱</VVE_Springbok.components.9.label>
  <!-- EN: Left Side Panel -->
  <VVE_Springbok.components.10.label>左侧外壳</VVE_Springbok.components.10.label>
  <!-- EN: Right Side Panel -->
  <VVE_Springbok.components.11.label>右侧外壳</VVE_Springbok.components.11.label>
  <VVE_Springbok.components.12.label>燃料箱</VVE_Springbok.components.12.label>
  <!-- EN: Front Bumper -->
  <VVE_Springbok.components.13.label>前保险杠</VVE_Springbok.components.13.label>
  <!-- EN: Rear Bumper -->
  <VVE_Springbok.components.14.label>后保险杠</VVE_Springbok.components.14.label>
  <VVE_Springbok.components.15.label>内饰</VVE_Springbok.components.15.label>
  <VVE_Springbok.components.16.label>仪表</VVE_Springbok.components.16.label>
  <!-- EN: Steering Wheel -->
  <VVE_Springbok.components.17.label>方向盘</VVE_Springbok.components.17.label>
  <VVE_Springbok.components.18.label>发电机</VVE_Springbok.components.18.label>
  <VVE_Springbok.components.19.label>引擎盖</VVE_Springbok.components.19.label>
  <VVE_Springbok.components.20.label>顶盖</VVE_Springbok.components.20.label>
  <!-- EN: Driver -->
  <VVE_Springbok.properties.roles.0.label>驾驶员</VVE_Springbok.properties.roles.0.label>
  <!-- EN: Passenger -->
  <VVE_Springbok.properties.roles.1.label>乘客</VVE_Springbok.properties.roles.1.label>
  
</LanguageData>