<?xml version='1.0' encoding='UTF-8'?>
<LanguageData>
  <!--EN: Menu button render mode-->
  <VanillaTexturesExpanded.MainButtonRenderMode>Menu button render mode</VanillaTexturesExpanded.MainButtonRenderMode>
  <!--EN: Icons and text (new)-->
  <VanillaTexturesExpanded.MainButtonRenderMode_IconsAndText>Icons and text (new)</VanillaTexturesExpanded.MainButtonRenderMode_IconsAndText>
  <!--EN: Icons where possible (vanilla)-->
  <VanillaTexturesExpanded.MainButtonRenderMode_IconsThenText>Icons where possible (vanilla)</VanillaTexturesExpanded.MainButtonRenderMode_IconsThenText>
  <!--EN: Text only (classic)-->
  <VanillaTexturesExpanded.MainButtonRenderMode_TextOnly>Text only (classic)</VanillaTexturesExpanded.MainButtonRenderMode_TextOnly>
  <!--EN: Vanilla Textures Expanded-->
  <VanillaTexturesExpanded.SettingsCategory>Vanilla Textures Expanded</VanillaTexturesExpanded.SettingsCategory>
</LanguageData>
