<?xml version='1.0' encoding='UTF-8'?>
<LanguageData>
  <!--EN: Add faction(s)-->
  <AskForPopUp>Add faction(s)</AskForPopUp>
  <!--EN: Click this to be asked for each faction if you want it to be added to your game-->
  <AskForPopUpExplained>Click this to be asked for each faction if you want it to be added to your game</AskForPopUpExplained>
  <!--EN: Enable structure generation debugging log:-->
  <CSGLog>Enable structure generation debugging log:</CSGLog>
  <!--EN: Custom structure generation:-->
  <CSGTitle>Custom structure generation:</CSGTitle>
  <!--EN: {0} faction(s) can be added to your current save-->
  <CanAddXFaction>{0} faction(s) can be added to your current save</CanAddXFaction>
  <!--EN: Faction Discovery-->
  <FDTitle>Faction Discovery</FDTitle>
  <!--EN: All settings need a restart to be applied-->
  <NeedRestart>All settings need a restart to be applied</NeedRestart>
  <!--EN: You first need to load a save-->
  <NeedToBeInGame>You first need to load a save</NeedToBeInGame>
  <!--EN: Disable mod source reports-->
  <VEF.DisableModSourceReport>Disable mod source reports</VEF.DisableModSourceReport>
  <!--EN: {0}-->
  <VEF.EnableWeatherDamage>{0}</VEF.EnableWeatherDamage>
  <!--EN: Set weapons to be usable or not usable with shields.-->
  <VEF.Shields.ExplanationTitle>Set weapons to be usable or not usable with shields.</VEF.Shields.ExplanationTitle>
  <!--EN: Reset mod settings to default-->
  <VEF.Shields.ResetModSettingsToDefault>Reset mod settings to default</VEF.Shields.ResetModSettingsToDefault>
  <!--EN: Search:-->
  <VEF.Shields.Search>Search:</VEF.Shields.Search>
  <!--EN: Show melee weapons-->
  <VEF.Shields.ShowMeleeWeapons>Show melee weapons</VEF.Shields.ShowMeleeWeapons>
  <!--EN: Show range weapons-->
  <VEF.Shields.ShowRangeWeapons>Show range weapons</VEF.Shields.ShowRangeWeapons>
  <!--EN: Weather damages-->
  <VEF.WeatherDamages>Weather damages</VEF.WeatherDamages>
  <!--EN: Always-->
  <VEF_Always>Always</VEF_Always>
  <!--EN: Ores mined by pawns are always unforbidden-->
  <VEF_AlwaysDesc>Ores mined by pawns are always unforbidden</VEF_AlwaysDesc>
  <!--EN: Custom Structure Generation:-->
  <VEF_CustomStructureGeneration>Custom Structure Generation:</VEF_CustomStructureGeneration>
  <!--EN: Disable Texture Caching-->
  <VEF_DisableTextureCaching>Disable Texture Caching</VEF_DisableTextureCaching>
  <!--EN: Enable PipeSystem no storage alert-->
  <VEF_EnablePipeSystemNoStorageAlert>Enable PipeSystem no storage alert</VEF_EnablePipeSystemNoStorageAlert>
  <!--EN: Faction Discovery-->
  <VEF_FactionDiscovery>Faction Discovery</VEF_FactionDiscovery>
  <!--EN: General-->
  <VEF_GeneralTitle>General</VEF_GeneralTitle>
  <!--EN: Home Area-->
  <VEF_HomeArea>Home Area</VEF_HomeArea>
  <!--EN: Ores mined by pawns are only unforbidden if mined in the home area-->
  <VEF_HomeAreaDesc>Ores mined by pawns are only unforbidden if mined in the home area</VEF_HomeAreaDesc>
  <!--EN: Never-->
  <VEF_Never>Never</VEF_Never>
  <!--EN: Never unforbid mined ores (this is how the base game works for non-human pawns, such as animals and mechs)-->
  <VEF_NeverDesc>Never unforbid mined ores (this is how the base game works for non-human pawns, such as animals and mechs)</VEF_NeverDesc>
  <!--EN: Toggleable patches-->
  <VEF_TPTitle>Toggleable patches</VEF_TPTitle>
  <!--EN: Texture Variations:-->
  <VEF_TextureVariations>Texture Variations:</VEF_TextureVariations>
  <!--EN: Unforbid mined ores-->
  <VEF_UnforbidMinedOres>Unforbid mined ores</VEF_UnforbidMinedOres>
  <!--EN: Verbose logging-->
  <VEF_VerboseLogging>Verbose logging</VEF_VerboseLogging>
  <!--EN: {0} patches found-->
  <XPatchFound>{0} patches found</XPatchFound>
</LanguageData>
