<?xml version='1.0' encoding='UTF-8'?>
<LanguageData>
  <!--EN: Vanilla Backgrounds Expanded-->
  <VBE>香草背景扩展</VBE>
  <!--EN: Enable all-->
  <VBE.AllowAll>全部启用</VBE.AllowAll>
  <!--EN: Allow Animations-->
  <VBE.AllowAnimated>允许动画</VBE.AllowAnimated>
  <!--EN: Allow animated backgrounds to be used.-->
  <VBE.AllowAnimated.Desc>允许使用动画背景。</VBE.AllowAnimated.Desc>
  <!--EN: animated-->
  <VBE.Animated>动画</VBE.Animated>
  <!--EN: Animate on load-->
  <VBE.AnimatedLoad>加载时动画</VBE.AnimatedLoad>
  <!--EN: Show animations during initial game load. WARNING: In vanilla, these animations will freeze fequently.-->
  <VBE.AnimatedLoad.Desc>在初始游戏加载期间显示动画。警告：在原版中，这些动画会经常冻结。</VBE.AnimatedLoad.Desc>
  <!--EN: Better Loading Compat-->
  <VBE.BetterLoading>Better Loading Compat</VBE.BetterLoading>
  <!--EN: Patch better loading to switch control the background of it's display-->
  <VBE.BetterLoading.Desc>补丁更好地加载到开关控制其显示的背景</VBE.BetterLoading.Desc>
  <!--EN: Move progress bar-->
  <VBE.BetterLoading.Move>移动进度条</VBE.BetterLoading.Move>
  <!--EN: Move the better loading progress bar to the bottom to better show the background image-->
  <VBE.BetterLoading.Move.Desc>将更好的加载进度条移至底部，以更好地显示背景图片</VBE.BetterLoading.Move.Desc>
  <!--EN: Cycle-->
  <VBE.Cycle>循环</VBE.Cycle>
  <!--EN: Cycle background occasionally while in game-->
  <VBE.Cycle.Desc>游戏中偶尔循环背景</VBE.Cycle.Desc>
  <!--EN: Cycle time:-->
  <VBE.CycleTime>周期：</VBE.CycleTime>
  <!--EN: Disable all-->
  <VBE.DisallowAll>全部禁用</VBE.DisallowAll>
  <!--EN: A cool background-->
  <VBE.NoDesc>很酷的背景</VBE.NoDesc>
  <!--EN: Show on load-->
  <VBE.OnLoad>加载时显示</VBE.OnLoad>
  <!--EN: Show on initial game load. Requires a restart (obviously)-->
  <VBE.OnLoad.Desc>在初始游戏加载时显示。需要重新启动（显然）</VBE.OnLoad.Desc>
  <!--EN: Open Backgrounds Folder-->
  <VBE.OpenBackgrounds>打开背景文件夹</VBE.OpenBackgrounds>
  <!--EN: Randomize-->
  <VBE.Randomize>随机化</VBE.Randomize>
  <!--EN: Randomize background on game start-->
  <VBE.Randomize.Desc>游戏开始时随机化背景</VBE.Randomize.Desc>
  <!--EN: RimThemes Compat-->
  <VBE.RimThemes>Rim主题兼容</VBE.RimThemes>
  <!--EN: Overwrite RimThemes backgrounds with the ones from this mod.-->
  <VBE.RimThemes.Desc>使用此模组中的背景覆盖 RimThemes 背景。</VBE.RimThemes.Desc>
  <!--EN: Select Background ->-->
  <VBE.SelectBackground>选择Background -&gt;</VBE.SelectBackground>
  <!--EN: Toggle Backgrounds Being Shown ->-->
  <VBE.ToggleBackgrounds>切换背景为 Shown -&gt;</VBE.ToggleBackgrounds>
</LanguageData>
