<?xml version='1.0' encoding='UTF-8'?>
<LanguageData>
  <!--EN: Vanilla Backgrounds Expanded-->
  <VBE>Vanilla Backgrounds Expanded</VBE>
  <!--EN: Enable all-->
  <VBE.AllowAll>Enable all</VBE.AllowAll>
  <!--EN: Allow Animations-->
  <VBE.AllowAnimated>Allow Animations</VBE.AllowAnimated>
  <!--EN: Allow animated backgrounds to be used.-->
  <VBE.AllowAnimated.Desc>Allow animated backgrounds to be used.</VBE.AllowAnimated.Desc>
  <!--EN: animated-->
  <VBE.Animated>animated</VBE.Animated>
  <!--EN: Animate on load-->
  <VBE.AnimatedLoad>Animate on load</VBE.AnimatedLoad>
  <!--EN: Show animations during initial game load. WARNING: In vanilla, these animations will freeze fequently.-->
  <VBE.AnimatedLoad.Desc>Show animations during initial game load. WARNING: In vanilla, these animations will freeze fequently.</VBE.AnimatedLoad.Desc>
  <!--EN: Better Loading Compat-->
  <VBE.BetterLoading>Better Loading Compat</VBE.BetterLoading>
  <!--EN: Patch better loading to switch control the background of it's display-->
  <VBE.BetterLoading.Desc>Patch better loading to switch control the background of it's display</VBE.BetterLoading.Desc>
  <!--EN: Move progress bar-->
  <VBE.BetterLoading.Move>Move progress bar</VBE.BetterLoading.Move>
  <!--EN: Move the better loading progress bar to the bottom to better show the background image-->
  <VBE.BetterLoading.Move.Desc>Move the better loading progress bar to the bottom to better show the background image</VBE.BetterLoading.Move.Desc>
  <!--EN: Cycle-->
  <VBE.Cycle>Cycle</VBE.Cycle>
  <!--EN: Cycle background occasionally while in game-->
  <VBE.Cycle.Desc>Cycle background occasionally while in game</VBE.Cycle.Desc>
  <!--EN: Cycle time:-->
  <VBE.CycleTime>Cycle time:</VBE.CycleTime>
  <!--EN: Disable all-->
  <VBE.DisallowAll>Disable all</VBE.DisallowAll>
  <!--EN: A cool background-->
  <VBE.NoDesc>A cool background</VBE.NoDesc>
  <!--EN: Show on load-->
  <VBE.OnLoad>Show on load</VBE.OnLoad>
  <!--EN: Show on initial game load. Requires a restart (obviously)-->
  <VBE.OnLoad.Desc>Show on initial game load. Requires a restart (obviously)</VBE.OnLoad.Desc>
  <!--EN: Open Backgrounds Folder-->
  <VBE.OpenBackgrounds>Open Backgrounds Folder</VBE.OpenBackgrounds>
  <!--EN: Randomize-->
  <VBE.Randomize>Randomize</VBE.Randomize>
  <!--EN: Randomize background on game start-->
  <VBE.Randomize.Desc>Randomize background on game start</VBE.Randomize.Desc>
  <!--EN: RimThemes Compat-->
  <VBE.RimThemes>RimThemes Compat</VBE.RimThemes>
  <!--EN: Overwrite RimThemes backgrounds with the ones from this mod.-->
  <VBE.RimThemes.Desc>Overwrite RimThemes backgrounds with the ones from this mod.</VBE.RimThemes.Desc>
  <!--EN: Select Background ->-->
  <VBE.SelectBackground>Select Background -&gt;</VBE.SelectBackground>
  <!--EN: Toggle Backgrounds Being Shown ->-->
  <VBE.ToggleBackgrounds>Toggle Backgrounds Being Shown -&gt;</VBE.ToggleBackgrounds>
</LanguageData>
