<?xml version='1.0' encoding='UTF-8'?>
<LanguageData>
  <!--EN: Intel from extracting intel: {0}-->
  <VFED.IntelFromExtractingIntel>Intel from extracting intel: {0}</VFED.IntelFromExtractingIntel>
  <!--EN: Response time multiplier: {0}-->
  <VFED.ResponseTimeMultiplier>Response time multiplier: {0}</VFED.ResponseTimeMultiplier>
  <!--EN: Visibility change per day: {0}-->
  <VFED.VisibilityChangePerDay>Visibility change per day: {0}</VFED.VisibilityChangePerDay>
  <!--EN: Visibility gain from surveillance pillar: {0}-->
  <VFED.VisibilityFromPillar>Visibility gain from surveillance pillar: {0}</VFED.VisibilityFromPillar>
  <!--EN: VFE - Deserters-->
  <VFEDeserters>VFE - Deserters</VFEDeserters>
</LanguageData>
